<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1" style="backdrop-filter: blur(5px)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">LOG IN ACCOUNT</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-dark shadow">LOGIN</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                            REGISTRATION
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1" style="backdrop-filter: blur(5px)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Registration User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {{ register_form.as_p }}
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-dark shadow">REGISTRATION</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                            LOG IN
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



